@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<conectaOng.Models.Entities.Event>

<div class="d-flex justify-content-between align-items-center mb-5">
    <h1>Lista de Eventos</h1>
    @if (ViewBag.IsOng == true)
    {
        <a class="btn btn-success" asp-controller="Event" asp-action="Add">Criar Evento</a>
    }
</div>

<form method="get" class="row mb-4">
    <div class="col-md-5">
        <input type="text" name="searchTitle" class="form-control" placeholder="Título do evento" value="@(Context.Request.Query["searchTitle"])" />
    </div>
    <div class="col-md-5">
        <input type="text" name="searchLocation" class="form-control" placeholder="Local" value="@(Context.Request.Query["searchLocation"])" />
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-dark w-100">Buscar</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Local</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model)
        {
            <tr>
                <td>@evento.Title</td>
                <td>
                    @(evento.Description?.Length > 40
                        ? evento.Description.Substring(0, 40) + "..."
                        : evento.Description)
                </td>
                <td>@evento.Date.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@evento.Location</td>
                <td>

                        <a class="btn btn-info me-2" asp-controller="Event" asp-action="Details" asp-route-id="@evento.Id">Detalhes</a>

                    @if (User.Identity.IsAuthenticated && evento.Organization.UserId.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value)
                    {
                        <!-- Botão para redirecionar para a página de edição -->
                        <a class="btn btn-primary me-2" asp-controller="Event" asp-action="Edit" asp-route-id="@evento.Id">Editar</a>

                        <!-- Botão para deletar o evento -->
                        <form method="post" asp-controller="Event" asp-action="Delete" asp-route-id="@evento.Id" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja deletar este evento?');">Deletar</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>