@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<conectaOng.Models.Entities.Event>

<div class="d-flex justify-content-between align-items-center mb-5">
    <h1>Lista de Eventos</h1>
    @if (User.Identity.IsAuthenticated)
    {
        var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        // Verificar se o usuário é uma organização
        if (Model.Any(e => e.Organization.UserId.ToString() == userId))
        {
            <a class="btn btn-success" asp-controller="Event" asp-action="Add">Criar Evento</a>
        }
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Local</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model)
        {
            <tr>
                <td>@evento.Id</td>
                <td>@evento.Title</td>
                <td>@evento.Description</td>
                <td>@evento.Date</td>
                <td>@evento.Location</td>
                <td>

                    @if (User.Identity.IsAuthenticated && evento.Organization.UserId.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value)
                    {
                        <!-- Botão para redirecionar para a página de edição -->
                        <a class="btn btn-primary me-2" asp-controller="Event" asp-action="Edit" asp-route-id="@evento.Id">Editar</a>

                        <!-- Botão para deletar o evento -->
                        <form method="post" asp-controller="Event" asp-action="Delete" asp-route-id="@evento.Id" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja deletar este evento?');">Deletar</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>