@model conectaOng.Models.Entities.Volunteer
@using System.Security.Claims

@{
    ViewData["Title"] = "Detalhes de Voluntario";
}

<div class="container mt-5">
    <h1 class="fw-bold mb-4">Detalhes de Voluntário</h1>

    <div class="card shadow-sm p-4">
        <dl class="row mb-0">
            <dt class="col-sm-3 fw-semibold">
                Nome:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-3 fw-semibold">
                Email:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.User.Email)
            </dd>

            <dt class="col-sm-3 fw-semibold">
                CPF:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Cpf)
            </dd>

            <dt class="col-sm-3 fw-semibold">
                Sexo:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Sex)
            </dd>

            <dt class="col-sm-3 fw-semibold">
                Descrição:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

        @if (User.Identity.IsAuthenticated && User.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model?.UserId.ToString())
        {
            <div class="mt-4 d-flex">
                <a class="btn btn-primary me-2" asp-action="Edit" asp-route-id="@Model?.Id">Editar perfil</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Deletar perfil</a>
            </div>
        }
    </div>
</div>