@model IEnumerable<conectaOng.Models.Entities.Volunteer>

@{
    ViewData["Title"] = "List";
}

<div class="container mt-4">
    <h1 class="fw-bold mb-4">Voluntários Cadastrados</h1>

    <div class="card p-4 shadow-sm">
        <table class="table table-borderless align-middle">
            <thead class="fw-semibold">
                <tr>
                    <th>Nome:</th>
                    <th>Descrição:</th>
                    <th>Sexo:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var volunteer in Model)
                {
                    <tr>
                        <td>@volunteer.Name</td>
                        <td>
                                @(volunteer.Description?.Length > 60
                                    ? volunteer.Description.Substring(0, 60) + "..."
                                    : volunteer.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.Sex)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@volunteer.Id">Edit</a> |*@                            
                            <a asp-action="Details" asp-route-id="@volunteer.Id">Detalhes</a>
                        </td>
                    </tr>
                }
            </tbody>

    <tr>
        <td></td>
    </tr>
        </table>
    </div>
</div>
